* {
    margin: 0;
    padding: 0;
    scrollbar-width: 0;
}

body {
    background-color: #14131E;
    color: #fff;

}

/* header section start */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #19162A;
    z-index: 1;

}

span {
    color: #000000;
    font-weight: 500;
}

.navbar {}

.header-col-1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header-col-1 a {
    text-decoration: none;
    color: #B968C7;
}

.header-col-2 {}

.hyp-links {
    text-align: center;

    /*padding-top: 1.2%;*/

}

.hyp-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.hyp-links a:hover {
    color: #c96bda;
}

.hyp-links i {
    color: #fff;
    font-size: 1rem;
    padding-top: -5px;
    padding-right: 5px;
}

.hyp-links a:hover>i {
    color: #c96bda;
}

/* Thanks */

.thanks {
    position: relative;
    top: 150px;
    text-align: center;
}
.thanks .icon
{
    font-size: 75px;
    color: green;
}
/* .reply
{
    font-size: 18px;
} */
.greetings
{
    font-size: 50px;
}
button
{
    width: 150px;
    border-radius: 4px;
    border: none;
    height: 50px;
    padding: 10px;
}
button a{
    text-decoration: none;
    color: black;
}
button:hover{
    background-color: #c96bda;
    
}
button:hover>a
{
    color: #fff;
}
/********* Footer section ************/

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #19162A;
    font-size: 1.02rem;
    text-align: center;
    padding-top: 18px;

}

.copyright i {
    font-size: 11px;
}

.footer-icon a {
    text-decoration: none;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    color: #fff;
}